<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <!-- <img src="/user-assets/images/logo.png" /> -->

            <svg xmlns:mydata="http://www.w3.org/2000/svg" mydata:contrastcolor="ffffff" mydata:template="Default"
              mydata:presentation="2.5" mydata:layouttype="undefined" mydata:specialfontid="undefined" mydata:id1="830"
              mydata:id2="105" mydata:companyname="glow haven" mydata:companytagline="" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="20 90 550 270"
              width="150px" height="80px">
              <g fill="#db3eb1" fill-rule="none" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g
                  data-paper-data="{&quot;isGlobalGroup&quot;:true,&quot;bounds&quot;:{&quot;x&quot;:68.63376060423069,&quot;y&quot;:182.26224856887788,&quot;width&quot;:412.7324787915386,&quot;height&quot;:105.47550286224433}}">
                  <g data-paper-data="{&quot;stacked&quot;:true,&quot;isPrimaryText&quot;:true}" fill-rule="nonzero">
                    <path
                      d="M196.38397,219.07329c3.22317,6.82238 10.20672,11.38855 17.99605,11.38855h47.27321v-21.7027h-21.05807l4.02897,5.85543h10.90507v9.99184h-41.14918c-7.30586,0 -13.48361,-5.80171 -13.48361,-12.94641v-0.05372c0,-7.03726 5.96287,-12.89269 13.48361,-12.89269h47.27321v-5.90915h-47.27321c-10.31416,0 -19.60764,8.21909 -19.60764,18.80185c0,2.68598 0.5372,5.15708 1.61159,7.46702z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;G&quot;,&quot;glyphIndex&quot;:0,&quot;firstGlyphOfWord&quot;:true,&quot;word&quot;:1,&quot;line&quot;:1,&quot;firstGlyphOfFirstLine&quot;:true}">
                    </path>
                    <path d="M274.22361,224.55269v-31.74826h-6.12403v37.60369h54.68651v-5.85543z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;L&quot;,&quot;glyphIndex&quot;:1,&quot;word&quot;:1,&quot;line&quot;:1}">
                    </path>
                    <path
                      d="M327.08366,202.84999v17.62002c0,5.58683 4.78104,10.04556 10.58275,10.04556h45.82279c5.80171,0 10.58275,-4.45872 10.58275,-10.04556v-17.62002c0,-5.58683 -4.78104,-10.04556 -10.58275,-10.04556h-45.82279c-5.80171,0 -10.58275,4.45872 -10.58275,10.04556zM333.10025,220.41628v-17.62002c0,-2.2025 1.98762,-4.08269 4.51244,-4.08269h45.82279c2.52482,0 4.51244,1.88018 4.51244,4.08269v17.62002c0,2.14878 -1.98762,4.13641 -4.51244,4.13641h-45.82279c-2.52482,0 -4.51244,-1.98762 -4.51244,-4.13641z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;O&quot;,&quot;glyphIndex&quot;:2,&quot;word&quot;:1,&quot;line&quot;:1}">
                    </path>
                    <path
                      d="M412.6052,192.69699c8.38025,9.23976 30.62015,33.52101 34.38052,37.60369l34.38052,-37.60369h-52.32285v0.05372l5.37196,5.85543h33.35985c-6.60751,7.25214 -18.15721,19.92996 -20.78947,22.77709l-1.12811,-1.23555c-5.04964,-5.53311 -24.81844,-27.1821 -25.08703,-27.4507zM401.32409,200.9698c12.57038,13.96709 25.89283,28.36393 26.80606,29.43832h8.11165c-4.61988,-5.15708 -13.16129,-14.45056 -20.57459,-22.61593c-4.35128,-4.78104 -8.86373,-9.77696 -13.64477,-14.98776h-8.11165c2.36366,2.63226 4.83476,5.31824 7.4133,8.16537z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;W&quot;,&quot;glyphIndex&quot;:3,&quot;lastGlyphOfWord&quot;:true,&quot;word&quot;:1,&quot;line&quot;:1,&quot;lastGlyphOfFirstLine&quot;:true}">
                    </path>
                    <path
                      d="M194.77238,240.88127v36.36978h5.87112v-15.32726h52.94401v15.32726h5.92308v-36.36978h-5.92308v15.37922h-52.94401v-15.37922z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;H&quot;,&quot;glyphIndex&quot;:4,&quot;firstGlyphOfWord&quot;:true,&quot;word&quot;:2,&quot;line&quot;:2,&quot;firstGlyphOfSecondLine&quot;:true}">
                    </path>
                    <path
                      d="M263.14757,277.30301h50.60595l-5.19568,-5.66329h-32.26519l20.10729,-22.02969l1.09109,1.19501c4.83198,5.2996 24.00405,26.2382 24.26384,26.49798h7.89744c-8.10526,-8.93657 -29.56343,-32.47302 -33.25237,-36.36978z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;A&quot;,&quot;glyphIndex&quot;:5,&quot;word&quot;:2,&quot;line&quot;:2}">
                    </path>
                    <path
                      d="M304.19346,240.88127c2.54588,2.90958 4.83198,5.2996 6.91026,7.5857c15.01552,16.67814 19.43185,21.14643 26.2382,28.78408c5.2996,-5.87112 27.48516,-30.083 33.25237,-36.42174l-7.84548,0.05196c-6.07895,6.39069 -24.26384,26.29015 -25.35493,27.69299l-25.30297,-27.69299zM410.23734,277.25105v-5.71525h-59.64644l-5.19568,5.71525zM359.37161,261.92379h47.64441v-5.66329h-42.44873zM410.2893,246.44065v-5.66329h-31.58975c-1.19501,1.24696 -2.96154,3.22132 -5.19568,5.66329z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;ï‡&quot;,&quot;glyphIndex&quot;:6,&quot;word&quot;:2,&quot;line&quot;:2}">
                    </path>
                    <path
                      d="M416.52412,276.99127h5.97504v-27.27733c49.51486,23.06883 57.36034,26.91364 58.65926,27.4332l0.20783,0.10391v-36.36978h-5.92308v27.27733l-58.91904,-27.48516z"
                      data-paper-data="{&quot;glyphName&quot;:&quot;N&quot;,&quot;glyphIndex&quot;:7,&quot;lastGlyphOfWord&quot;:true,&quot;word&quot;:2,&quot;line&quot;:2,&quot;lastGlyphOfSecondLine&quot;:true}">
                    </path>
                  </g>
                  <g data-paper-data="{&quot;isIcon&quot;:&quot;true&quot;,&quot;iconType&quot;:&quot;icon&quot;,&quot;rawIconId&quot;:&quot;2106955&quot;,&quot;selectedEffects&quot;:{&quot;container&quot;:&quot;&quot;,&quot;transformation&quot;:&quot;&quot;,&quot;pattern&quot;:&quot;&quot;},&quot;isDetailed&quot;:false,&quot;fillRule&quot;:&quot;evenodd&quot;,&quot;bounds&quot;:{&quot;x&quot;:68.63376060423069,&quot;y&quot;:182.26224856887788,&quot;width&quot;:90.3143921067391,&quot;height&quot;:105.47550286224433},&quot;iconStyle&quot;:&quot;standalone&quot;,&quot;suitableAsStandaloneIcon&quot;:true}"
                    fill-rule="evenodd">
                    <path
                      d="M108.55032,223.89291c-20.4214,13.54681 -40.51971,26.87937 -39.9027,44.883c13.86765,-25.80571 77.97909,-49.73734 81.18468,-86.51366c-3.51522,16.57735 -22.53479,29.19431 -41.28197,41.63066zM158.94815,197.65937c-17.34993,52.76024 -66.98069,27.47495 -85.32598,81.88919c6.89431,-9.25705 8.60094,-11.27508 14.43505,-17.31823c-2.49831,5.21546 -7.06322,6.07083 -11.87999,25.26453c3.55035,-9.26258 10.16923,-18.50303 14.28432,-20.79511c7.40234,22.79514 41.51422,11.29169 27.19536,-14.15416c32.9048,-10.28682 25.49415,24.64999 -32.40528,35.18872c39.7798,0.3834 70.99184,-31.42256 73.67299,-70.19611c-7.084,15.9063 -18.48503,23.51765 -33.07242,29.11789c22.47126,-11.86332 33.09595,-48.99671 33.09595,-48.99671zM98.56689,260.9528c3.21943,-1.93775 6.40994,-3.51702 9.32487,-4.78776c4.98016,8.35185 -7.26808,12.57351 -9.32487,4.78776z"
                      data-paper-data="{&quot;isPathIcon&quot;:true}"></path>
                  </g>
                </g>
              </g>
            </svg>

          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="/" class="active">Home</a>
            </li>
            <li class="scroll-to-section"><a href="#men">Bestsellers</a></li>
            <!-- <li class="scroll-to-section"><a href="#women">Skincare</a></li> -->
            <li class="scroll-to-section"><a href="#explore">New</a></li>
            <!-- <li class="submenu">
              <a href="javascript:;">Pages</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="single-product.html">Single Product</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </li> -->
            <!-- <li class="submenu">
              <a href="javascript:;">Features</a>
              <ul>
                <li><a href="#">Features Page 1</a></li>
                <li><a href="#">Features Page 2</a></li>
                <li><a href="#">Features Page 3</a></li>
                <li>
                  <a
                    rel="nofollow"
                    href="https://templatemo.com/page/4"
                    target="_blank"
                    >Template Page 4</a
                  >
                </li>
              </ul>
            </li> -->

            <% if (user) { %>
            <!-- Displayed when the user is logged in -->
            <li class="submenu">
              <a href="javascript:;"> <%= user.name %> </a>
              <ul>
                <li><a href="/orders">My Orders</a></li>
                <li><a href="/profile">My Profile</a></li>
                <!-- <li><a href="/profile">My Wallet</a></li> -->
                <li><a href="/wishlist">My Wishlist</a></li>
                <li><a href="/wallet">My Wallet</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>

            <% } else { %>
            <!-- Displayed when the user is not logged in -->
            <li class="scroll-to-section">
              <a href="/login">Sign Up</a>
            </li>
            <% } %>


            <li class="scroll-to-section">
              <a type="button" href="/view-cart" class="relative ">
                <i class="fa fa-shopping-cart"></i>
                <span class="sr-only"><i class="fa fa-shopping-cart"></i></span>
                <div
                  class="absolute inline-flex items-center justify-center w-4 h-4 text-[9px] font-bold text-red-500 border-2 border-white rounded-full -top-[-0.1rem] -end-2 dark:border-gray-900">
                  20</div>
              </a>

            </li>
            <li class="scroll-to-section">
              <a href="/wishlist"><i class="fa fa-heart"></i></a>
            </li>
            <li class="scroll-to-section">


              <form class="form-inline" action="/search" method="post" id="searchForm">
                <div class="input-group">
                  <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search"
                    name="query" style="border-radius: 4px;" id="searchInput" onchange="search()">
                </div>
              </form>


            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<script>
  document.getElementById('searchInput').addEventListener('keypress', async function (e) {
    if (e.key === 'Enter') {
      e.preventDefault(); // Prevent the default form submission
      const searchInput = document.getElementById('searchInput').value
      console.log(searchInput);
      console.log("windo", window.location);
      window.location.href =
        `${window.location.origin}/product?search=${searchInput}`
      // document.getElementById('searchForm').submit(); // Submit the form
    }
  });
</script>