<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img src="/user-assets/images/logo.png" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="/" class="active">Home</a>
            </li>
            <li class="scroll-to-section"><a href="#men">Bestsellers</a></li>
            <li class="scroll-to-section"><a href="#women">Skincare</a></li>
            <li class="scroll-to-section"><a href="#kids">New</a></li>
            <li class="submenu">
              <a href="javascript:;">Pages</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="single-product.html">Single Product</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </li>
            <!-- <li class="submenu">
              <a href="javascript:;">Features</a>
              <ul>
                <li><a href="#">Features Page 1</a></li>
                <li><a href="#">Features Page 2</a></li>
                <li><a href="#">Features Page 3</a></li>
                <li>
                  <a
                    rel="nofollow"
                    href="https://templatemo.com/page/4"
                    target="_blank"
                    >Template Page 4</a
                  >
                </li>
              </ul>
            </li> -->

            <% if (user) { %>
            <!-- Displayed when the user is logged in -->
            <li class="submenu">
              <a href="javascript:;"> <%= user.name %> </a>
              <ul>
                <li><a href="/orders">My Orders</a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/profile">My Wallet</a></li>
                <li><a href="/profile">My Wishlist</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>

            <% } else { %>
            <!-- Displayed when the user is not logged in -->
            <li class="scroll-to-section">
              <a href="/login">Sign Up</a>
            </li>
            <% } %>

            <li class="scroll-to-section">
              <a href="/view-cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li class="scroll-to-section">
              <a href="/view-cart"><i class="fa fa-heart"></i></a>
            </li>
            <li class="scroll-to-section">


              <form class="form-inline" action="/search" method="post" id="searchForm">
                <div class="input-group">
                  <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search"
                    name="query" style="border-radius: 4px;" id="searchInput" onchange="search()">
                </div>
              </form>


            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<script>
  document.getElementById('searchInput').addEventListener('keypress', async function (e) {
    if (e.key === 'Enter') {
      e.preventDefault(); // Prevent the default form submission
      const searchInput = document.getElementById('searchInput').value
      console.log(searchInput);
      console.log("windo", window.location);
      window.location.href =
        `${window.location.origin}/product?search=${searchInput}`
      // document.getElementById('searchForm').submit(); // Submit the form
    }
  });
</script>