<link rel='stylesheet' href='/sign-assets/stylesheets/style.css' />

<div class="main h-screen">

    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="max-w-md mx-auto text-center px-4 sm:px-8 py-10 ">
                <header class="mb-8">
                    <h1 class="text-2xl font-bold mb-1">Reset Password</h1>
                    <p class="text-[15px] text-slate-500">Please reset your password</p>
                </header>
                <form id="otp-form" action="/login" method="post">




                    <div class="mb-6">
                        <div for="password" class="block text-left cent mb-2 text-sm font-medium text-gray-900">Password
                        </div>

                        <input type="password" id="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required />
                        <div id="perror" style="color:red" style="color:red"></div>

                    </div>

                    <div class="mb-6">
                        <div for="confirmPassword" class="block text-left cent mb-2 text-sm font-medium text-gray-900">
                            Confirm Password</div>

                        <input type="password" id="confirmpassword"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required />
                        <div id="cperror" style="color:red" style="color:red"></div>

                    </div>

                    <p id="alertMessage" class="mt-2 text-red-500">
                    </p>

                    <div class="max-w-[260px] mx-auto mt-5">
                        <button type="button" onclick="confirmPasswords()" class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500
                                px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10
                                hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300
                                focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300
                                transition-colors duration-150">Confirm</button>
                    </div>
                </form>

                <!-- <div class="text-sm text-slate-500 mt-4">Didn't receive code? <a
                        class="link-dark link-opacity-25 font-medium text-indigo-500 hover:text-indigo-600 cursor-not-allowed"
                        id="resend" onclick="resendOTP()">Resend</a>
                </div> -->


                <!-- <div class="text-sm text-slate-500 mt-4">Didn't receive code? <a <span
                                class="link-dark link-opacity-25" style="text-decoration: underline;" id="resend"
                                onclick="resendOTP()">Request again</span>  -->



                <!-- <span class="font-monospace badge rounded-pill bg-info p-auto" id="timer"></span> -->
                <!-- </div> -->
            </div>
    </section>
    <!-- </div> -->

    <script>
        const confirmPasswords = async () => {
            const password = document.getElementById('password').value
            const confirmPassword = document.getElementById('confirmpassword').value
            validatePassword()
            if (validatePassword()) {
                console.log("hiii");
                const res = await axios.post('/reset-password', {
                    password,
                    confirmPassword
                })
                if (res.status === 200) {
                    Swal.fire({
                        title: "Password changed succussfully",
                        icon: "succuss",
                        iconColor: '#da63f2',
                        showCancelButton: true,
                        confirmButtonColor: "#908991",
                        timer: 1000,
                    })
                    window.redirect('/login')
                }
            }
        }

        function validatePassword() {
            const password = document.getElementById('password').value
            const confirmPassword = document.getElementById('confirmpassword').value
            let perror = document.getElementById('perror')
            let cperror = document.getElementById('cperror')

            const passwordValidate = (password) => {
                const re = /^.{8,15}$/;
                return re.test(password.trim());
            };

            if (password === '') {
                perror.innerHTML = 'Password is required'
                return false
                // setError(password, 'Password is required');
            } else if (!passwordValidate(password)) {
                perror.innerHTML = 'Password must be 8-15 characters'
                return false
            } else {
                perror.innerHTML = ''

            }
            if (confirmPassword.trim() !== password) {
                cperror.innerHTML = 'Passwords must match'
                return false
            } else {
                cperror.innerHTML = ''
                return true
            }
        }
    </script>